#palabras-dinamicas {
  text-align: center;
  font-size: 24px;
  color: #b600ff;
  font-weight: bold;
  text-shadow: 0 0 5px #b600ff, 0 0 10px #b600ff, 0 0 20px #8f00ff;
  animation: glow 1.5s ease-in-out infinite alternate;
  margin-top: 40px;
  margin-bottom: 40px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #b600ff, 0 0 10px #b600ff, 0 0 20px #8f00ff;
  }
  to {
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 40px #d400ff;
  }
}
