#palabras-dinamicas {
  position: relative; /* Asegura que el z-index funcione */
  z-index: 9999; /* Más alto que cualquier imagen decorativa */
  text-align: center;
  font-size: 24px;
  color: #f2f2f2;
  font-weight: bold;
  text-shadow: 0 0 5px #b600ff, 0 0 10px #b600ff, 0 0 20px #8f00ff;
  margin-top: 120px;
  margin-bottom: 40px;
  animation: fadeDown 0.6s ease;
}


@keyframes glow {
  from {
    text-shadow: 0 0 5px #b600ff, 0 0 10px #b600ff, 0 0 20px #8f00ff;
  }
  to {
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 40px #d400ff;
  }
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
